.visit-card__subtitle {
  font-family: 'Gilroy-Medium', "Arial ", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  max-width: 155px;
  align-self: flex-end;
  margin: 0;
  padding-bottom: 10px;
}

@media screen and (max-width: 420px) {
  .visit-card__subtitle {
    align-self: flex-start;
  }
}