.header__links {
  list-style: none;
  color: #828282;
  display: flex;
  justify-content: space-between;
  margin: 32px 0 32px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .header__links {
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 15px;
    max-width: 100px;
  }
}