.visit-card__title {
  max-width: 200px;
  margin: 0;
  font-family: 'Gilroy-Bold', "Arial ", sans-serif;
  font-size: 3rem;
  line-height: 59px;
}

@media screen and (max-width: 600px) {
  .visit-card__title {
    font-size: 2.3rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 420px) {
  .visit-card__title {
    margin-bottom: 20px;
  }
}