.portfolio__figure {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto 99px;
}

.portfolio__figure:last-of-type {
  margin-bottom: 0;
  padding-bottom: 96px;
}