.header__item {
  font-family: 'Gilroy-Bold', "Arial ", sans-serif;
  font-size: 18px;
  line-height: 22px;
  transition: transform .3s ease-in;
}

.header__item:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .header__item {
    font-size: 16px;
    line-height: 18px;
  }

  .header__item:hover {
    transform: none;
  }
}

